
 * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #20002c;  
  background: -webkit-linear-gradient(to left, #cbb4d4, #20002c); 
  background: linear-gradient(to left, #cbb4d4, #20002c); 

}

#root {
  height: 100vh;
  display: flex;
  
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
  list-style-type: none;
  height: 550px;
  width: 360px;
  margin-top:-45px;
 
}

.user {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 250px;
  display: flex;
     
}


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
 

    
}
.pagination__page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.btn {
  height: 40px;
  color: #fff;
  border-radius: 30px;
  width: 100px;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
  background: #FC466B;  
  background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);  
  background: linear-gradient(to left, #3F5EFB, #FC466B); 
  margin: 50px;
}

.btn:hover{
 color: palegoldenrod;
}

.sp{
  display: block;
  height:20px;
  border-radius: 5px;
  margin-top: 2px;
  background-color: black;
  color:white;
  letter-spacing: 2px;
    
}

.delete-btn{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: aliceblue;
 border: 1px solid black;
 background-color: black;
 border-radius: 50px;
 cursor: pointer;
 width: 55px;
 margin: 2px;
 margin-left: 270px;
 margin-top: 40px;
   
}
.edit-btn{
  left: 610px;
  
}
.delete-btn:focus{
  outline-style: none;
  
}
.delete-btn:hover{
  color: red;
}
.edit-btn:hover{
  color: orange;
}


.color-letter{
  color:rgb(223, 82, 82);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 370px;
  background: #12c2e9; 
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 45px;
  

}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  letter-spacing: 2px;
}

.form-input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 4px;
  outline: none;
}

.form-input:invalid {
  border: 3px solid red;
}

.submit-button {
  width: 100%;
  height: 55px;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 16px;
  background-color: coral;
  color: rgb(41, 37, 37);
  font-weight: 700;
  cursor: pointer;
}
.submit-button:hover{
  color: white;
}


.error-text {
  color: red;
  margin: 8px 0;
  text-align: center;
}

